#boardingPass1 {
	--mask: radial-gradient(20px at 40px 100%,#0000 98%,#000) -40px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

#boardingPass1:hover {
  animation: rotateOutUpLeft;
  animation-duration: 2s;
}

#boardingPass2 {
	--mask: radial-gradient(20px at 40px 40px,#0000 98%,#000) -40px -40px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

#boardingPass3 {
  --mask: radial-gradient(20px at 20px 0,#0000 98%,#000) -20px;
  -webkit-mask: var(--mask);
          mask: var(--mask);
}

#boardingPass3:hover {
  animation: rotateOutDownLeft;
  animation-duration: 2s;
}